.widget.ad {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.widget.ad .ow-ad {
  display: block;
  width: 400px;
  height: 300px;
  z-index: 2;
}
